<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>Little shop of horrors</title>
    </head>

    <header class="header-container">
        <h1 class="header">Little shop of horrors</h1>
        <section class="right-corner-menu">
            <p class="username"> <%= username %> </p>
            <button class="button login-button"> Log in/out </button>
        </section>
    </header>

    <section class="cart-display">
        <h2 class="cart-header"> Your cart</h2>
        <p>Suma: </p>

        <section class="item_list">
            <% items.forEach( item => { %>
                <section class="item">
                    <h3><%= item.name %></h3>
                    <p><%= item.description %></p>
                </section>
            <% }) %>
        </section>
        
    </section>

    
</html>